## Marketing Campaign - Project Objectives :

* Perform EDA ‚Äì Check and clean data (especially Dt_Customer and Income).
* Handle Missing Values ‚Äì Impute missing income values based on Education and Marital_Status.
* Feature Engineering ‚Äì Create:
    - Total children
    - Age (from birth year)
    - Total spending (sum of product purchases)
    - Total purchases (sum across channels)
* Visualization ‚Äì Boxplots, histograms, heatmaps, etc.
* Encoding ‚Äì Use ordinal and one-hot encoding where appropriate.
* Hypothesis Testing ‚Äì Test 4 hypotheses about customer behavior.
* Insights via Visualization ‚Äì Product performance, campaign acceptance, regional differences, etc.

In [14]:
import pandas as pd

# Load the marketing data CSV file
file_path = "../Assignment 03 - MktgCmpgn/data/marketing_data.csv"
df = pd.read_csv(file_path)

# Display basic information and the first few rows
df_info = df.info()
df_head = df.head()

df_info, df_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4    Income              2216 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: int64(23), object(5)
memory usage: 446.3+ KB

(None,
       ID  Year_Birth   Education Marital_Status      Income   Kidhome  \
 0   1826        1970  Graduation       Divorced  $84,835.00         0
 1      1        1961  Graduation         Single  $57,091.00         0
 2  10476        1958  Graduation        Married  $67,267.00         0
 3   1386        1967  Graduation       Together  $32,474.00         1
 4   5371        1989  Graduation         Single  $21,474.00         1

    Teenhome Dt_Customer  Recency  MntWines  ...  NumStorePurchases  \
 0         0     6/16/14        0       189  ...                  6
 1         0     6/15/14        0       464  ...                  7
 2         1     5/13/14        0       134  ...                  5
 3         1     5/11/14        0        10  ...                  2
 4         0      4/8/14        0         6  ...                  2

    NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  \
 0                  1             0             0             0             0
 1                  5             0             0             0             0
 2                  2             0             0             0             0
 3                  7             0             0             0             0
 4                  7             1             0             0             0

    AcceptedCmp2  Response  Complain  Country
 0             0         1         0       SP
 1             1         1         0       CA
 2             0         0         0       US
 3             0         0         0      AUS
 4             0         1         0       SP

 [5 rows x 28 columns])

In [15]:
# Display basic information and the first few rows
df_info = df.info()
df_head = df.head()

df_info, df_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4    Income              2216 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: int64(23), object(5)
memory usage: 446.3+ KB

(None,
       ID  Year_Birth   Education Marital_Status      Income   Kidhome  \
 0   1826        1970  Graduation       Divorced  $84,835.00         0
 1      1        1961  Graduation         Single  $57,091.00         0
 2  10476        1958  Graduation        Married  $67,267.00         0
 3   1386        1967  Graduation       Together  $32,474.00         1
 4   5371        1989  Graduation         Single  $21,474.00         1

    Teenhome Dt_Customer  Recency  MntWines  ...  NumStorePurchases  \
 0         0     6/16/14        0       189  ...                  6
 1         0     6/15/14        0       464  ...                  7
 2         1     5/13/14        0       134  ...                  5
 3         1     5/11/14        0        10  ...                  2
 4         0      4/8/14        0         6  ...                  2

    NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  \
 0                  1             0             0             0             0
 1                  5             0             0             0             0
 2                  2             0             0             0             0
 3                  7             0             0             0             0
 4                  7             1             0             0             0

    AcceptedCmp2  Response  Complain  Country
 0             0         1         0       SP
 1             1         1         0       CA
 2             0         0         0       US
 3             0         0         0      AUS
 4             0         1         0       SP

 [5 rows x 28 columns])

In [16]:
# Strip leading/trailing spaces from column names
df.columns = df.columns.str.strip()

# Clean 'Income' column
df['Income'] = df['Income'].replace('[\$,]', '', regex=True).astype(float)

# Convert 'Dt_Customer' to datetime
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format="%m/%d/%y")

# Feature engineering
df['Age'] = 2025 - df['Year_Birth']
df['Total_Children'] = df['Kidhome'] + df['Teenhome']
df['Total_Spending'] = df[['MntWines', 'MntFruits', 'MntMeatProducts', 
                           'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].sum(axis=1)
df['Total_Purchases'] = df[['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases']].sum(axis=1)

# Summarize new features and investigate missing income
summary = df[['Age', 'Total_Children', 'Total_Spending', 'Total_Purchases']].describe()
null_income = df[df['Income'].isnull()][['Education', 'Marital_Status']].value_counts().reset_index(name='Count')

summary, null_income.head()

<unknown>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
<ipython-input-16-312d22c1018e>:5: SyntaxWarning: invalid escape sequence '\$'
  df['Income'] = df['Income'].replace('[\$,]', '', regex=True).astype(float)

(               Age  Total_Children  Total_Spending  Total_Purchases
 count  2240.000000     2240.000000     2240.000000      2240.000000
 mean     56.194196        0.950446      605.798214        12.537054
 std      11.984069        0.751803      602.249288         7.205741
 min      29.000000        0.000000        5.000000         0.000000
 25%      48.000000        0.000000       68.750000         6.000000
 50%      55.000000        1.000000      396.000000        12.000000
 75%      66.000000        1.000000     1045.500000        18.000000
 max     132.000000        3.000000     2525.000000        32.000000,
     Education Marital_Status  Count
 0  Graduation         Single      6
 1  Graduation        Married      4
 2      Master       Together      4
 3         PhD        Married      2
 4         PhD         Single      2)

In [ ]:
# Compute mean income by Education and Marital_Status
income_means = df.groupby(['Education', 'Marital_Status'])['Income'].mean()

# Function to apply imputation
def impute_income(row):
    if pd.isnull(row['Income']):
        return income_means.loc[(row['Education'], row['Marital_Status'])]
    return row['Income']

# Apply the function to impute missing income values
df['Income'] = df.apply(impute_income, axis=1)

# Confirm all income values are filled
missing_income_count = df['Income'].isnull().sum()
missing_income_count

In [ ]:
# Re-import libraries and reload data after environment reset
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set styles
sns.set(style="whitegrid")

# Reload the dataset
file_path = "../Assignment 03 - MktgCmpgn/data/marketing_data.csv"
df = pd.read_csv(file_path)

# Clean column names
df.columns = df.columns.str.strip()

# Clean Income
df['Income'] = df['Income'].replace('[\$,]', '', regex=True).astype(float)

# Convert date column
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format="%m/%d/%y")

# Feature engineering
df['Age'] = 2025 - df['Year_Birth']
df['Total_Children'] = df['Kidhome'] + df['Teenhome']
df['Total_Spending'] = df[['MntWines', 'MntFruits', 'MntMeatProducts', 
                           'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']].sum(axis=1)
df['Total_Purchases'] = df[['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases']].sum(axis=1)

# Impute missing income
income_means = df.groupby(['Education', 'Marital_Status'])['Income'].mean()
df['Income'] = df.apply(
    lambda row: income_means.loc[(row['Education'], row['Marital_Status'])] if pd.isnull(row['Income']) else row['Income'], axis=1
)

# Select numerical features
num_features = ['Income', 'Age', 'Total_Spending', 'Total_Purchases']

# Create box plots and histograms
fig, axes = plt.subplots(nrows=4, ncols=2, figsize=(14, 16))

for i, feature in enumerate(num_features):
    # Boxplot
    sns.boxplot(x=df[feature], ax=axes[i, 0], color='skyblue')
    axes[i, 0].set_title(f'Boxplot of {feature}')

    # Histogram
    sns.histplot(df[feature], kde=True, ax=axes[i, 1], color='salmon', bins=30)
    axes[i, 1].set_title(f'Histogram of {feature}')

plt.tight_layout()
plt.show()

In [ ]:
# Function to cap outliers using IQR method
def cap_outliers(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return series.clip(lower=lower_bound, upper=upper_bound)

# Apply capping to selected numerical features
for feature in ['Income', 'Age', 'Total_Spending', 'Total_Purchases']:
    df[feature] = cap_outliers(df[feature])

# Re-plot after outlier treatment
fig, axes = plt.subplots(nrows=4, ncols=2, figsize=(14, 16))

for i, feature in enumerate(['Income', 'Age', 'Total_Spending', 'Total_Purchases']):
    sns.boxplot(x=df[feature], ax=axes[i, 0], color='lightgreen')
    axes[i, 0].set_title(f'Boxplot of {feature} (Post-Outlier Treatment)')

    sns.histplot(df[feature], kde=True, ax=axes[i, 1], color='tomato', bins=30)
    axes[i, 1].set_title(f'Histogram of {feature} (Post-Outlier Treatment)')

plt.tight_layout()
plt.show()

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

# Identify categorical columns
categorical_cols = df.select_dtypes(include='object').columns.tolist()

# Display all unique values for these columns to decide encoding types
cat_values = {col: df[col].unique().tolist() for col in categorical_cols}
cat_values

In [ ]:
# Define the education hierarchy
education_order = [['Basic', '2n Cycle', 'Graduation', 'Master', 'PhD']]

# Apply Ordinal Encoding to Education
edu_encoder = OrdinalEncoder(categories=education_order)
df['Education_Encoded'] = edu_encoder.fit_transform(df[['Education']])

# Apply One-Hot Encoding to Marital_Status and Country
df_encoded = pd.get_dummies(df, columns=['Marital_Status', 'Country'], drop_first=True)

# Drop the original 'Education' column as we have encoded version
df_encoded.drop(columns=['Education'], inplace=True)

# Display the columns after encoding
encoded_columns = df_encoded.columns[df_encoded.columns.str.startswith(('Marital_Status_', 'Country_', 'Education_'))].tolist()
encoded_columns

In [ ]:
# Compute correlation matrix on numerical variables
corr_matrix = df_encoded.corr(numeric_only=True)

# Set up the matplotlib figure
plt.figure(figsize=(16, 12))

# Generate heatmap
sns.heatmap(corr_matrix, cmap='coolwarm', annot=False, fmt=".2f", linewidths=0.5)
plt.title("Correlation Heatmap of Numerical Features", fontsize=16)
plt.tight_layout()
plt.show()

In [ ]:
from scipy.stats import spearmanr

# Hypothesis 1: Age vs Store Purchases (non-parametric test for correlation)
corr_age_store, p_value_age_store = spearmanr(df_encoded['Age'], df_encoded['NumStorePurchases'])

corr_age_store, p_value_age_store

In [ ]:
# Hypothesis 2: Total Children vs Web Purchases
corr_kids_web, p_value_kids_web = spearmanr(df_encoded['Total_Children'], df_encoded['NumWebPurchases'])

corr_kids_web, p_value_kids_web

In [ ]:
# Hypothesis 3: Channel cannibalization (correlation with store purchases)
corr_web_store, _ = spearmanr(df_encoded['NumWebPurchases'], df_encoded['NumStorePurchases'])
corr_catalog_store, _ = spearmanr(df_encoded['NumCatalogPurchases'], df_encoded['NumStorePurchases'])

corr_web_store, corr_catalog_store

In [ ]:
from scipy.stats import ttest_ind

# Split data into US and non-US groups
us_purchases = df_encoded[df_encoded['Country_US'] == 1]['Total_Purchases']
non_us_purchases = df_encoded[df_encoded['Country_US'] == 0]['Total_Purchases']

# Perform independent t-test
t_stat, p_value = ttest_ind(us_purchases, non_us_purchases, equal_var=False)

us_purchases.mean(), non_us_purchases.mean(), t_stat, p_value

In [ ]:
# Analyze product performance by total revenue from each category
product_cols = ['MntWines', 'MntFruits', 'MntMeatProducts', 
                'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']

product_revenue = df_encoded[product_cols].sum().sort_values(ascending=False)

# Plot product performance
plt.figure(figsize=(10, 6))
sns.barplot(x=product_revenue.values, y=product_revenue.index, palette='viridis')
plt.title("üí∞ Product Performance by Total Revenue")
plt.xlabel("Total Revenue ($)")
plt.ylabel("Product Category")
plt.tight_layout()
plt.show()

product_revenue

In [ ]:
# Plot age distribution against response to last campaign
plt.figure(figsize=(10, 6))
sns.boxplot(data=df_encoded, x='Response', y='Age', palette='Set2')
plt.title("üìà Age vs Last Campaign Acceptance")
plt.xlabel("Accepted Last Campaign (0 = No, 1 = Yes)")
plt.ylabel("Customer Age")
plt.tight_layout()
plt.show()

# Compute mean age by response
df_encoded.groupby('Response')['Age'].mean()

In [ ]:
# Count of last campaign acceptance (Response == 1) by country
accepted_by_country = df_encoded[df_encoded['Response'] == 1]['Country'].value_counts()

# Plot
plt.figure(figsize=(8, 5))
sns.barplot(x=accepted_by_country.values, y=accepted_by_country.index, palette='mako')
plt.title("üåç Campaign Acceptance by Country")
plt.xlabel("Number of Acceptances")
plt.ylabel("Country")
plt.tight_layout()
plt.show()

accepted_by_country

In [ ]:
# Reconstruct original Country column from one-hot encoded columns
country_columns = [col for col in df_encoded.columns if col.startswith('Country_')]
df_encoded['Country'] = df_encoded[country_columns].idxmax(axis=1).str.replace('Country_', '')

# Now compute campaign acceptance counts by country
accepted_by_country = df_encoded[df_encoded['Response'] == 1]['Country'].value_counts()

# Plot
plt.figure(figsize=(8, 5))
sns.barplot(x=accepted_by_country.values, y=accepted_by_country.index, palette='mako')
plt.title("üåç Campaign Acceptance by Country")
plt.xlabel("Number of Acceptances")
plt.ylabel("Country")
plt.tight_layout()
plt.show()

accepted_by_country

In [ ]:
# Boxplot of Total Spending vs Number of Children
plt.figure(figsize=(8, 5))
sns.boxplot(x='Total_Children', y='Total_Spending', data=df_encoded, palette='coolwarm')
plt.title("üë∂ Total Spending vs Number of Children at Home")
plt.xlabel("Number of Children at Home")
plt.ylabel("Total Spending ($)")
plt.tight_layout()
plt.show()

# Mean total spending by number of children
df_encoded.groupby('Total_Children')['Total_Spending'].mean()

In [ ]:
# Filter customers who complained
complainers = df_encoded[df_encoded['Complain'] == 1]

# Reconstruct Education from encoded column
education_order = ['Basic', '2n Cycle', 'Graduation', 'Master', 'PhD']
complainers['Education'] = complainers['Education_Encoded'].apply(lambda x: education_order[int(x)])

# Count of complaints by education level
complaints_by_edu = complainers['Education'].value_counts().sort_values(ascending=False)

# Plot
plt.figure(figsize=(8, 5))
sns.barplot(x=complaints_by_edu.values, y=complaints_by_edu.index, palette='pastel')
plt.title("üìö Complaints by Education Level")
plt.xlabel("Number of Complaints")
plt.ylabel("Education Level")
plt.tight_layout()
plt.show()

complaints_by_edu